<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNAI Admission Portal Login</title>
   <!-- include header file -->
   <%- include('../includeFolder/_headers.ejs') %>
   <!--include  header file -->
    <header class="heading-top">
        <h1>FUNAI Admission Portal Login</h1>
    </header>

    <div class="container section-txt">
        <p>Access the FUNAI Admission Portal to manage your application process:</p>
        <p><a href="https://portal.funai.edu.ng" target="_blank">Click here to login to the Admission Portal</a></p>
        <p>For any issues with your login credentials, contact the admissions office for assistance.</p>
    </div>
      <!-- General Queries Section -->
      <%- include('../includeFolder/_admission_queryLink.ejs') %>

      <!-- General Queries Section -->

    <footer>
        <p>&copy; 2025 FUNAI. All rights reserved.</p>
    </footer>
</body>
</html>
