<div class="container section-txt">
    <h2>Hot links</h2>
    <ul class="child-ul ">
        <li><a href="/ui_school_fees/charges">Federal University of Ibadan school fees charges  </a></li>
        <li><a href="/calculate/cgpa/app">Calculate GP and CGPA</a></li>
        <li><a href="/schools/grading/system">Universities Grading Systen</a></li>
        <li><a href="/unn-courses/dept">Federal University of Nigeria Nsukka(UNN) courses and Department</a></li>
       <li><a href="/unn-fees">UNN school fees charges</a></li>

    </ul>
