<div class="container section-txt">
    <h2>Quick links</h2>
    <ul class="child-ul ">
        <li><a href="/ui_school_fees/charges">Federal University of Ibadan school fees charges  </a></li>
        <li><a href="/unn-reg/courses">UNN course regitrations approach</a></li>
        <li><a href="/schools/grading/system">Universities Grading Systen</a></li>
        <li><a href="/unn-courses/dept">Federal University of Nigeria Nsukka(UNN) admission requirements</a></li>
        <li><a href="/nigeria/list-of-institution/page">List of institutionss in Nigeria </a></li>
        <li><a href="/jamb-reg/requirements/page">Jamb registrations requirements</a></li>
        <li><a href="/courses/page">Lists of courses offered in  Nigeria institutionss</a></li>
        <li><a href="/waec-neco/freq/questions">Check out WAEC and NECO frequently asked questions</a></li>
        <li><a href="/career/page">Careers and jobs opportunities for different courses</a></li>
        <li><a href="/calculate/cgpa/app">GPA and CGPA calculator</a></li>

    </ul>
</div>