<div class="container section-txt">
    <h2>Hot links</h2>
    <ul class="child-ul ">
        <li><a href="/unn-jamb/courses/programs">Unn Jamb and  departmental requirements</a></li>
        <li><a href="/unn-admission/requirement">UNN Admission Requirements</a></li>
        <li><a href="/funai-admissionprocedures">Funai Federal University Admission Procedure/requirements</a></li>
        <li><a href="/funai-faculties-dept">Funai Federal University facaulties  and  department</a></li>
        <li><a href="/oau/admission-requirement">Obafemi Awolowo University(OAU) Admission requirements</a></li>
        <li><a href="/uni-lag/cut-of-marks">University of Lagos  Cut-Off Marks</a></li>
    </ul>
</div>







