<div class="container section-txt">
    <h2>Hot links</h2>
    <ul class="child-ul ">
        <li><a href="/jamb/syllabus"> jamb 2025/2026 syllabus </a></li>
        <li><a href="/jamb/data/correction/page"> Various jamb data corrections </a></li>
        <li><a href="/jamb-reg-date/page">2025/2026  jamb registration date  </a></li>
        <li><a href="/jamb-data/corrections/guide/page"> jamb data corrections guid </a></li>
        <li><a href="/jamb-reg/deadline/page"> jamb 2025/2026 registration deadline </a></li>
        <li><a href="/jamb-reprinting/date">jamb2025/2026 reprinting date  </a></li>
        <li><a href="/jamb-reg/requirements/page"> jamb 2025/2026 registration requirements </a></li>
        <li><a href="/most-demanding/courses"> most demanding courses(JOB) in Nigeraia </a></li>
        <li><a href="/schools/grading/system"> grading system in Nigeria universities </a></li>
        <li><a href="/career/page"> Careers and their prospects </a></li>
        <li><a href="/funai-admissionprocedures"> funai admission requirements </a></li>
        <li><a href="/unn-admission/requirement"> Unn admission requirement </a></li>
        <li><a href="/aou/admission-requirement"> AOU 2025/2026 admission requirement </a></li>
    </ul>
</div>